body {
    background-color: #f5d9d5;
    font-family: 'Nunito', sans-serif;

}
#mainNavbar .navbar-brand {
    color: #EA1C2C;
}
#mainNavbar .nav-link{
    color: #301934;
}
#mainNavbar .nav-link:hover{
    color: #EA1C2C;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#headings span {
color: #EA1C2C;
}
#headings h1 {
    font-weight: 100;
    font-size: 3rem;
}
@media (max-width: 1200px) {
    #headings h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}
.blurb h2 {
    color:#EA1C2C;
    font-weight:100;
    font-size: 2.5rem;
}
.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content {
    margin-top: 100px;
}
.navbar.scrolled {
    background: #f498b8;
transition: background 300ms;
}